@import url();
:root {
  --color-white: #f3f3f3;
  --color-darkblue-alpha: rgba(27, 27, 50, 0.8);
  --color-darkblue: #1b1b32;
  --color-green: #37af65; 
}
*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--color-darkblue);
  margin: 0;
}
.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  background: var(--color-green);
  color: inherit;
  border-radius: 2px;
  cursor: pointer;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100;
  z-index: -1;
  background: var(--color-darkblue);
  background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7));
}
